﻿@model ForgotPasswordViewModel

<div class="page-header">
	<h1>Забыли пароль?</h1>
</div>
<partial name="_ValidationSummary" />

<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
	<div class="form-group">
		<label asp-for="Email">Введите адрес электронной почты</label>
		<div class="form-group">
			<input asp-for="Email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Отправить</button>
	</div>
	<div class="form-group">
		<a asp-area="" asp-controller="Account" asp-action="Register">Зарегистрироваться?</a>
	</div>
</form>