﻿<div class="register-success-page">
    <div class="page-header">
        <h1>Вы успешно зарегистрированы</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>
                Регистрация завешена.

                <a asp-area="" asp-controller="Account" asp-action="Login">Войти?</a>

            </p>
        </div>
    </div>
</div>