﻿<div class="wait-verifivation-page">
    <div class="page-header">
        <h1>Подтверждение электронной почты</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>
                Для завершения регистрации проверьте электронную почту и перейдите по ссылке, указанной в письме
            </p>
        </div>
    </div>
</div>