﻿@model CreateUserViewModel
<div class="register-page">
	<div class="page-header">
		<h1>Создание пользователя</h1>
	</div>

	<partial name="_ValidationSummary" />

	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<form asp-route="Регистрация">
						<fieldset>
							<div class="form-group">
								<label asp-for="Email">Адрес электронной почты</label>
								<input class="form-control" placeholder="Введите ваш email" asp-for="Email" autofocus>
							</div>
							<div class="form-group">
								<label asp-for="Password">Пароль</label>
								<input type="password" class="form-control" placeholder="Введите пароль" asp-for="Password" autocomplete="off">
							</div>
							<div class="form-group">
								<label asp-for="ConfirmPassword">Подтверждение пароля</label>
								<input type="password" class="form-control" placeholder="Введите подтверждение пароля" asp-for="ConfirmPassword" autocomplete="off">
							</div>
							<div class="form-group">
								<label asp-for="ConfirmPassword">Подтверждение пароля</label>
								<input type="password" class="form-control" placeholder="Введите подтверждение пароля" asp-for="ConfirmPassword" autocomplete="off">
							</div>
							<div class="form-group">
								<button class="btn btn-primary" name="button" value="create">Создать</button>	
							</div>							
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>