.column {
    float: left;
    width: 50%;
    padding: 0 10px;
    padding: 0 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }